<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>Favorite</h2>");
  }); 
</script> 

<div class="row">
  <div class="span6">
    <div class="memo_area">
      <% if @memos.present? -%> 
        <% @memos.each do |memo| %>
          <div class='<%= memo.name %> article'>
            <div style='float:left;'>
              <%= link_to user_path(screen_name: memo.name) do %>
              <img height="48px" width="48px" src="<%= memo.twitter_user.img_url %>"></a>
              <% end %>
            </div>

            <div style='width:390px; float:left; margin-left:1em; margin-top:-5px;'>
              <h4 id="screen_name"><%= link_to memo.name, user_path(screen_name: memo.name) %><% if memo.author != session[:twitter_id].to_i -%><span style="color:#808080;font-size:11.5px"> (<a href="/user/<%= memo.author_screen_name %>">@<%= memo.author_screen_name %></a>のメモ)</span><% end %><a target="blank" href="http://twitter.com/<%= memo.name %>"><img src="logo.png" width="18px" height="18px" style="margin-left:1px;margin-bottom:-3px;"></a></h4>
              <p style="margin-right:90px;margin-top:5px;word-break:break-all;"><%=hbr memo.note %></p>
              </div>
            <div class="fav" style="float:right;margin-top:-25px" data-id="<%= memo.id %>">
                <%= image_tag "fav.png",width:"20px",height:"20px",class:"fav_img"; %>
            </div>

            <div style="float:right;padding-bottom:3px;">
              <strong style="color:#808080;font-size:xx-small"><%= memo.updated_at.to_s(:jp) %><%= memo.updated_at.hour + 9 %>:<%= memo.updated_at.min %></strong>
              <% if memo.flag == 1 -%>
                <span class="label label-warning status">Public</span>
              <% else -%>
                <span class="label label-info status">Private</span>
              <% end %>
            </div>
            <div class="page-header underline" style="margin-bottom:14px;padding:0px;clear:both;"></div>
          </div>
        <% end %>
      <% else -%>
        <strong class="no_memo">メモがありません</strong>
      <% end %>
    </div>
  </div>
