<script type="text/javascript"> 
  $(document).ready(function(){
    var screen_name = location.href.slice(27);
    var api_url = "https://api.twitter.com/1/users/show.json?screen_name=" + screen_name + "&callback=?";
    $.getJSON(api_url, function(json,status){
          alert(api_url);
          $("body").css("background", "url("+ json.profile_background_image_url + ")");
    });
  });
</script>

<div class="row">		  
	<div class="span9">
		<h2>Profile</h2>
		<div class="well">
			<div style='margin-left:1em; margin-top:-13px;'>
				<h4 style="margin-bottom:-7px">id: <%= @users.id %></a></h4>
				<h4>twitter_id: <%= @users.twitter_id %></a></h4>
				<h4>nickname: <%= @users.nickname %></a></h4>
 				<h4>name: <%= @users.name %></a></h4>
 				<img src=<%= @users.img %>>
			</div>
       </div>

    <h2>Memo</h2>
      <div class="well">
        <% if @memos -%>
          <% @memos.each do |note| %>
			   <div style='margin-left:1em; margin-top:-13px;'>
				  <h4 style="margin-bottom:-7px">id: <%= note.id %></a></h4>
				  <h4>twitter_id: <%= note.name %></a></h4>
				  <h4>nickname: <%= note.note %></a></h4>
 				  <h4>name: <%= note.flag %></a></h4>
            </div>
          <% end %>
      <% else -%>
        <h4>No memos</h4>
      <% end -%>
		  </div>
	 </div>
