<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>User Info</h2>");
    $("body").css("min-height",screen.height);
    var screen_name = location.href.slice(27);
    var api_url = "https://api.twitter.com/1/users/show.json?screen_name=" + screen_name + "&callback=?";
    $.getJSON(api_url, function(json,status){
      $("body").css("background", "url("+ json.profile_background_image_url + ")");
      $("#prof_info").append(
             "<div style= 'float:left;'>" +
              "<a target='_blank' href='https://twitter.com/"+ screen_name +"'><img src='"+ json.profile_image_url + "'></a></div>" +
            "<div style= 'float:left; margin-left:1em;'>" +
              "<a target='_blank' href='https://twitter.com/"+ screen_name +"'>"+ "<strong class='screen_name'>@" + screen_name + "</a></strong><br/>" +
              "<strong>" + json.name + "</strong></div>" +
            "<div align='right'>" +
              "<span class='label'>Following</span><a target='_blank' href='https://twitter.com/"+ screen_name + "/following'><strong> "+ json.friends_count + "</strong></a>" +
              "<span class='label' style='margin-left :1em'>Followers</span><a target='_blank' href='https://twitter.com/"+ screen_name + "/followers'><strong> " + json.followers_count + "</strong></a></div>"+
            "<div style='clear:left;'>" +
              "<span class='label success'>Profile</span><br/><p style='margin-top: 5px;'>"+ json.description + "</p>");
    });
  });
</script>

<div class="row">		  
	<div class="span9">
		<div class="well">
			<div id="prof_info"></div>
       </div>

       <h3>あなたに関するメモ <small>※公開設定のメモのみ表示されます</small></h3>
          <% if @memos.present? -%>
            <% @memos.each do |memo| %>
              <div class='<%= memo.name %> article' style="margin-top:20px;">
                <div style='float:left;'>
                  <a target='_blank' href='https://twitter.com/<%= memo.name %>'><img height="48px" width="48px" src="http://img.tweetimag.es/i/<%= memo.name %>"></a>
              </div>

              <div style='float:left; margin-left:1em; margin-top:-10px;'>
                <h4 id="screen_name"><%= link_to memo.name, user_path(screen_name: memo.name) %></h4>
                <p><%= memo.note %></p>
              </div>    

              <div align="right" style='margin-top:-7px;'>
                <p>メモした人 <img height="24px" width="24px" src="http://img.tweetimag.es/i/<%= memo.author %>"></p> 
              </div>

              <div class="page-header underline" style="margin-bottom:20px; padding: 5px 0px 0px 0px; clear:both;"></div>
            </div>
          <% end %>
      <% else -%>
        <h4>まだこのユーザーに関するメモがありません｡</h4>
        <% if current_user -%>
          <p id="openmodal" class="btn info" data-controls-modal="my-modal" data-backdrop="true" data-keyboard="true">Memo</p>
        <% else -%>
          <p><%= link_to 'Sign in', '/auth/twitter' ,:class=>"btn info" %><p>
        <% end -%>
      <% end -%>
    </div>
