<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>User Info</h2>");
    $("body").css("min-height",screen.height);
    var screen_name = "<%= params[:screen_name] %>";
    var api_url = "https://api.twitter.com/1/users/show.json?screen_name=" + screen_name + "&callback=?";
    var img;
    $.getJSON(api_url, function(json,status){
      img = json.profile_image_url;
      $(".about_memo").prepend(json.name);
      $("body").css("background-color","#"+json.profile_background_color);
      if (json.profile_use_background_image){
        $("body").css("background-image", "url("+ json.profile_background_image_url + ")");
      }else{
        $("body").css("background-image", "none");
      }
      if (!json.profile_background_tile){ $("body").css("background-repeat","no-repeat"); }
      $("#prof_info").append(
             "<div style= 'float:left;'>" +
              "<a target='_blank' href='https://twitter.com/" + screen_name + "'><img height='48px' width='48px' src='" + json.profile_image_url + "'></a></div>" +
            "<div style= 'float:left; margin-left:1em;'>" +
              "<a target='_blank' href='https://twitter.com/"+ screen_name +"'><strong class='screen_name'>@" + screen_name + "</a></strong><br/>" +
              "<strong>" + json.name + "</strong></div>" +
            "<div align='right'>" +
              "<span class='label'>Following</span> <a target='_blank' href='https://twitter.com/"+ screen_name + "/following'><strong>"+ json.friends_count + "</strong></a>" +
              "<span class='label' style='margin-left :1em'>Followers</span> <a target='_blank' href='https://twitter.com/"+ screen_name + "/followers'><strong>" + json.followers_count + "</strong></a></div>"+
            "<div style='clear:left;'>" +
            "<span class='label label-success'>Profile</span><br/><p style='margin-top:5px;'>" + json.description + "</p>");
    });
    $("#openmodal").click(function(){
      $("input#input_screen_name").val(screen_name); 
      $("#twitter_icon").html($("<img/>",{ src: img , class:"service-profile-icon", style: "width:4em;height:4em;"}));
    });
  });
</script>

<div class="row">		  
	<div class="span6">
		<div class="well">
      <div id="prof_info"></div>
    </div>

       <h3 class="about_memo">さんに関するメモ <small>※公開設定のみ</small></h3>
        <% if current_user -%>
          <div align="right"><p id='openmodal' class='btn btn-info editmemo'><i class='icon-edit icon-white'></i> Memo</p></div>
          <% end %>
          <% if @memos.present? -%>
            <% @memos.each do |memo| %>
              <div class='<%= memo.name %> article' style="margin-top:10px;">
                <div style='float:left;'>
                  <a href='/user/<%= memo.author_screen_name %>'><img height="48px" width="48px" src="http://img.tweetimag.es/i/<%= memo.author_screen_name %>"></a>
                </div>

                <div style='float:left; margin-left:1em; margin-top:-5px;'>
                  <h4><%= link_to memo.author_screen_name, user_path(screen_name: memo.author_screen_name) %><a target="blank" href="http://twitter.com/<%= memo.author_screen_name %>"><img src="/assets/s_logo.png" width="18px" height="18px" style="margin-left:1px;margin-bottom:-3px;"></a></h4>
                  <div style="width:390px;margin-top:5px;"><%= hbr memo.note %></div>
                </div> 

                <div class="fav" style="float:right;margin-top:-25px" data-id="<%= memo.id %>">
                  <% favs = memo.favs
                     faved_users = favs.each.map{|fav| fav.fav_screen_name} %>
                  <% faved_users.each do |name| -%>
                  <img src="http://img.tweetimag.es/i/<%= name %>" width="20px" height="20px">
                  <% end %>
                  <% if faved_users.include?(session[:screen_name]) -%>
                    <%= image_tag "fav.png",width:"20px",height:"20px",class:"fav_img"; %>
                  <% else -%>
                    <%= image_tag "unfav.png",width:"20px",height:"20px",class:"fav_img"; %>
                  <% end %>
                </div>

                <div style="float:right">
                  <strong style="color:#808080;font-size:xx-small"><%= memo.updated_at.to_s(:jp) %><%= memo.updated_at.hour + 9 %>:<%= memo.updated_at.min %></strong>
                </div>

              <div class="page-header underline" style="margin-bottom:20px; padding: 5px 0px 0px 0px; clear:both;"></div>
            </div>
          <% end %>
      <% else -%>
        <strong>まだこのユーザーに関するメモがありません｡</strong><br/>
        <% unless current_user -%>
          <p><%= link_to 'Sign in', '/auth/twitter' ,:class=>"btn btn-info" %><p>
        <% end -%>
      <% end -%>
    </div>
    <% unless current_user -%>
      <div class="span4">
        <div class="alert alert-error">
          <strong><a href="/auth/twitter">ログインしていません</a></strong>
        </div>
      </div>
    <% end -%>
