<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>Memos</h2>");
    $(".article").hover(
      function () {
      $(this).find(".editarea").css("visibility","visible");
      },
      function () {
        $(this).find(".editarea").css("visibility","hidden");
      }
    );
  }); 
</script> 

<div class="row">
  <div class="span9">
    <p><%= "Keyword : #{params[:keyword]}" if params[:keyword].present? %></p>
    <div class="memo_area">
      <% if @memos.present? -%> 
        <% @memos.each do |memo| %>
          <div class='<%= memo.name %> article'>
            <div style='float:left;'>
              <a target='_blank' href='https://twitter.com/<%= memo.name %>'><img height="48px" width="48px" src="<%= memo.twitter_user.img_url %>"></a>
            </div>

            <div style='width:350px; float:left; margin-left:1em; margin-top:-10px;'>
              <h4 id="screen_name"><%= link_to memo.name, user_path(screen_name: memo.name) %>
              <% if memo.flag == 1 -%>
                <span class="label warning status">Public</span>
              <% else -%>
                <span class="label notice status">Private</span>
              <% end %></h4>
              <p style="word-break: break-all;"><%= memo.note %></p>
            </div>    

            <div align="right" style='margin-top:-7px;'>
              <p class='btn small default editmemo editarea' data-id="<%= memo.id %>" data-note="<%= memo.note %>" data-name="<%= memo.name %>" data-img="<%= memo.twitter_user.img_url %>" data-controls-modal="my-modal" data-backdrop="true" data-keyboard="true" style="visibility:hidden;">Edit</p>
              <span class="editarea" style="visibility:hidden;"><%= link_to 'Delete', memo, confirm: 'メモを削除しますか?', method: :delete, remote: true, class:"btn small danger" %></span>
            </div>

            <div class="page-header underline" style="margin-bottom:20px; padding: 5px 0px 0px 0px; clear:both;"></div>
          </div>
        <% end %>
      <% else -%>
        <strong class="no_memo">メモがありません</strong>
      <% end %>
    </div>
    <%= paginate @memos %>
  </div>
