<div class="row">
  <div class="span9">
    <h2>Your Memos</h2>
    <div class="well">
      <% @memos.each do |memo| %>
        <div style='float:left; margin-top:-10px; margin-bottom: 5px;'>
          <a target='_blank' href='https://twitter.com/<%= memo.name %>'><img height="48px" width="48px" src="http://img.tweetimag.es/i/<%= memo.name %>"></a>
        </div>

        <div style='float:left; margin-left:1em; margin-top:-13px;'>
          <h4 id="screen_name" style="margin-bottom:-7px"><a target='_blank' href='https://twitter.com/<%= memo.name %>'><%= memo.name %></a></h4>
          <% if memo.flag == 1 -%>
            <span class="label warning">Public</span>
          <% else -%>
            <span class="label notice">Private</span>
          <% end %>
        </div>

        <table class="bordered-table">
          <td class="note"><%= memo.note %></td>
        </table>

        <div align="right" style='margin-top:-7px;'>
          <p class='btn small default editmemo' data-note="<%= memo.note %>" data-name="<%= memo.name %>" data-img="http://img.tweetimag.es/i/<%= memo.name %>" data-controls-modal="my-modal" data-backdrop="true" data-keyboard="true">Edit</p>
          <%= link_to 'Destroy', memo, confirm: 'メモを削除しますか?', method: :delete, class:"btn small danger" %>
          <div class="page-header"></div>
        </div>
       <% end %>
    </div>
    <%= paginate @memos %>
  </div>
