<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>Memo</h2>");
    $(".article").hover(
      function () {
      $(this).find(".editarea").css("visibility","visible");
      },
      function () {
        $(this).find(".editarea").css("visibility","hidden");
      }
    );
  }); 
</script> 

<div class="row">
  <div class="span6">
    <% if params[:keyword].present? -%>
      <div class="alert alert-success">
        <strong><%= "｢#{params[:keyword]}｣の検索結果"%></strong>
      </div>
    <% end %>

    <div class="memo_area">
      <% if @memos.present? -%> 
        <% @memos.each do |memo| %>
          <div class='<%= memo.name %> article'>
            <div style='float:left;'>
              <%= link_to user_path(screen_name: memo.name) do %><img height="48px" width="48px" src="<%= memo.twitter_user.img_url %>"></a><% end %>
            </div>

            <div style='width:390px; float:left; margin-left:1em; margin-top:-5px;'>
              <h4 id="screen_name"><%= link_to memo.name, user_path(screen_name: memo.name) %><a target="blank" href="http://twitter.com/<%= memo.name %>"><img src="logo.png" width="18px" height="18px" style="margin-left:1px;margin-bottom:-3px;"></a></h4>
              <p style="margin-right:90px;margin-top:5px;word-break:break-all;"><%=hbr memo.note %></p>
            </div>    

            <div style="float:right;margin-top:-40px">
              <span class='editmemo editarea' data-flag="<%= memo.flag %>" data-note="<%= memo.note %>" data-name="<%= memo.name %>" data-img="<%= memo.twitter_user.img_url %>" style="visibility:hidden;"><i class="icon-edit"></i><a href="#">Edit</a></span>
              <span class="editarea" style="visibility:hidden;"><i class="icon-trash"></i><%= link_to 'Delete', memo, confirm: 'メモを削除しますか?', method: :delete, remote: true %></span>
            </div>

            <div style="float:right;padding-bottom:3px;">
              <% if memo.flag == 1 -%>
                <span class="label label-warning status">Pubilc</span>
              <% else -%>
                <span class="label label-info status">Private</span>
              <% end %>
            </div>
            <div class="page-header underline" style="margin-bottom:14px;padding:0px;clear:both;"></div>
          </div>
        <% end %>
      <% else -%>
        <strong class="no_memo">メモがありません</strong>
      <% end %>
    </div>
    <%= paginate @memos %>
  </div>
