<script type="text/javascript">
  $(function() {
    $('#slider').slider({
	   showControls: false,
	   autoplay: true,
	   showPosition: true,
	   hoverPause: true,
	   wait: 5000,
	   fade: 500,
	   direction: "left"
    });
  });
</script>

  <div class="hero-unit" style="height:160px">
    <div style="float:left; width:440px; margin-top:-33px; margin-left:-20px;">
      <h1>Twitmemo</h1>
      <p>TwitmemoはあなたとTwitterユーザーの出会いを記録するサービスです｡<br/>ユーザーをフォローした理由､印象を忘れる前にメモ｡毎日の素敵な出会いを記録します｡</p>
      <%= link_to "Sign in with Twitter", 'auth/twitter' ,class:"btn btn-large btn-primary"%>
    </div>
    <div style="float:left; margin-left:20px; margin-top:-40px">
      <%= image_tag "logo.png", width:"220px", height:"220px"; %>
    </div>
  </div>

  <div>
    <div style="width: 780px;">
      <div style="float:left;width:50%">
        <h3>新着ユーザー</h3>
        <% if @users.present? -%>
          <% @users.each do |user| %>
            <%= link_to user_path(screen_name: user.nickname) do %>
              <img src='<%= user.img %>' width="48px" height="48px">
            <% end %>
          <% end %>
        <% else -%>
          <strong>新着ユーザーはいません｡</strong>
        <% end -%>
      </div>

      <div style="float:left;width:50%">
        <h3>新着メモ</h3>
        <% if @recentmemos.present? -%>
          <% @recentmemos.each do |memo| %>
            <div style='float:left;'>
              <%= link_to user_path(screen_name: memo.name) do %>
                <img height="48px" width="48px" src="<%= memo.twitter_user.img_url %>">
              <% end %>
            </div>
            <div style='width:250px; float:left; margin-left:1em;margin-top:-9px;'>
              <h3><%= link_to memo.name,user_path(screen_name: memo.name) %></h3>
              <div style="height:35px; overflow:hidden;margin-bottom:4px;">
                <span style="word-break:break-all;"><%= memo.note %></span>
              </div>
            </div>    

            <div align="right" style='margin-right:5px;'>
              <%= link_to user_path(screen_name: memo.author_screen_name) do %><img height="24px" width="24px" src="http://img.tweetimag.es/i/<%= memo.author_screen_name %>"><% end %>
            </div>
            <div class="page-header underline" style="margin-right:5px;margin-bottom:10px; padding:0px; clear:both;"></div>
          <% end %>
        <% else -%>
          <strong>新着メモはありません｡</strong>
        <% end -%>
        </div>
      </div>
    </div>

    <div id="slider" style="width: 780px; height:170px;">
      <div class="span7" style="margin-top:15px;margin-left:117px;">
        <div style="float:left;margin-right:30px"><%= image_tag "note.png", width: "120px", height: "120px";  %></div>
          <h3>What is Twitmemo?</h3>
          <p>あの人をフォローした理由が思い出せない時､ありませんか？ そんな時はTwitmemoでユーザーへのメモを残しましょう｡自分がどう評価されているのかチェックすることもできます｡メモの設定を非公開にすればプライベートなメモスペースとしてご利用頂けます｡</p>
      </div>

      <div class="span7" style="margin-top:15px;margin-left:112px">
        <div style="float:left; margin-top:-5px;margin-right:35px;"><%= image_tag "twitter.png", width: "120px", height: "120px"; %></div>
          <h3>How to use?</h3>
          <p>メールアドレス､パスワード…面倒な手続きは一切必要ありません｡中央､右上の｢Sign in with Twitter｣ボタンを押すだけ｡Twitterアカウント情報を利用してすぐにサービスを開始できます｡インターネット上での素敵な出会いをメモしましょう｡</p>
      </div>
