<div class="span5">
  <h2>Menu</h2>
  <div class="well">
    <div class="page-header">
      <h3><img src='<%= current_user.img %>'> <%= current_user.name %></h3>
      <span class="label warning"><%= memoed_count %>memo</span>
      <span class="label warning"><%= memo_count %>memoed</span>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="note">Following</a></li>
      <li><a href="user">User</a></li>
      <li><a href="" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">About</a></li>
    </ul>

    <%= form_tag(root_path, :method => :get) do %>
		<%= search_field_tag :keyword ,nil,:placeholder => "keyword"%>
    <% end -%>
  </div>
</div>
