<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=204775049613122";
  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <ul class="navi" style="margin-top:10px;">
    <li style="margin-left:-20px; margin-right:10px;"><h1><%= link_to 'Twitmemo',root_path %></h1></li>
    <li style="height:20px;margin-top:3px;">
      <% if current_user -%>
        <%= form_tag(root_path, :method => :get, :class => "form-search") do %>
          <%= search_field_tag :keyword ,nil,:placeholder => "メモ内検索",:class => "input-medium search-query" %>
        <% end -%>
    </li>
    <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign out', logout_path %></h4>

    <% elsif params["controller"] == "memos" && params["action"] == "index" %>
    <div style="float:left; margin-top:6px">
      <ul class="nav">
        <li style="width:100px"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="twitmemo">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
        <li style="width:57px"><a href="http://b.hatena.ne.jp/entry/http://twitmemo.net" class="hatena-bookmark-button" data-hatena-bookmark-title="TwitmemoはあなたとTwitterユーザーの出会いを記録するサービスです" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
        <li><div class="fb-like" data-href="http://twitmemo.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div></li>
      </ul>
    </div>
  </ul>
  <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign in', '/auth/twitter' %></h4>
  <% else -%>
    </ul>
    <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign in', '/auth/twitter' %></h4>
  <% end -%>
</div>
