<div class="fill">
  <div class="container">
    <h3><%= link_to 'Twitmemo',root_path %></h3>
    <% if current_user -%>
      <%= form_tag(root_path, :method => :get) do %>
        <%= search_field_tag :keyword ,nil,:placeholder => "メモ内検索"%>
      <% end -%>
      <p class="pull-right"><a href=""><%= link_to 'Sign out', logout_path, %></a></p>
      <p class="pull-right" style="color:#fff; margin-right:10em;"><%= "検索結果 : #{params[:keyword]}".html_safe if params[:keyword].present? %></p>
    <% else -%>
      <p class="pull-right"><a href=""><%= link_to 'Sign in', 'auth/twitter' %></a><p>
    <% end -%>
  </div>
</div>
