<div class="container">
  <ul class="navi" style="margin-top:10px;">
    <li style="margin-left:-20px; margin-right:10px;"><h1><%= link_to 'Twitmemo',root_path %></h1></li>
    <li style="height:20px;margin-top:3px;">
      <% if current_user -%>
        <%= form_tag(root_path, :method => :get, :class => "form-search") do %>
          <%= search_field_tag :keyword ,nil,:placeholder => "メモ内検索",:class => "input-medium search-query" %>
        <% end -%>
    </li>
    <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign out', logout_path, %></h4>

    <% elsif params["controller"] == "memos" && params["action"] == "index" %>
    <div style="float:left; margin-top:10px">
      <ul class="nav">
        <li style="width:100px"><a href="https://twitter.com/share" class="twitter-share-button" data-via="#twitmemo" data-lang="ja">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
        <li style="width:57px"><a href="http://b.hatena.ne.jp/entry/" style="margin-left:-50px" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
        <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook-japan.com%2F&layout=button_count&show_faces=false&width=100&action=like&colorscheme=light&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
      </ul>
    </div>
  </ul>
  <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign in', '/auth/twitter' %></h4>
  <% else -%>
    </ul>
    <h4 class="pull-right" style="margin-top:15px;"><%= link_to 'Sign in', '/auth/twitter' %></h4>
  <% end -%>
</div>
