<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="TwitmemoはあなたとTwitterユーザーの出会いを記録するサービスです｡ユーザーをフォローした理由､印象を忘れる前にメモ｡毎日の素敵な出会いを記録します｡" />
    <meta name="Keywords" content="Twitmemo,Twitter,memo,note,follow,ツイッター,メモ,ライフログ,マッシュアップ,フォロー,理由,Bootstrap" />
    <title>Twitmemo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <style type="text/css">
      .container{width: 820px;}
      h2{margin:-12px 0px -5px 0px;}
      h4{margin:0px 0px -5px 0px;}
      blockquote{margin-bottom:10px;}
    </style>
  </head>
  <body id="top">
    <div class = "topbar"><%= render 'layouts/topbar' %></div>
    <div class="container">
      <div class="content">
        <noscript>
          <div div class="alert alert-error">
            <strong>このページはJavascriptをオンにしないと正常に動作しません！</strong>
          </div>
        </noscript>
        <% if current_user -%>
          <div class="headerarea"></div> 
          <%= yield %>
          <%= render 'layouts/sidebar' %>
          <%= render 'layouts/popup' %>
        <% else %>
          <%= yield %>
        <% end -%>
      </div>
      <div class="page-header" style="margin-top:0px"></div>
      <footer><a href="/terms">&copy; Twitmemo 2012</a></footer>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28885283-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type ='text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl':'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
