<!DOCTYPE html>
<html>
  <head>
    <title>Twitmemo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://www.zurb.com/javascripts/plugins/jquery.textchange.min.js"></script>
    <style type="text/css">
      html, body {
        background-color: #fff;
      }
      body {
        padding-top: 40px;
      }
      .content {
        -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0);
        -moz-box-shadow: 0 0px 0px rgba(0,0,0,.0);
        box-shadow: 0 0px 0px rgba(0,0,0,.0);
      }
      .headerarea, .underline {
        background-color: #fff;
      }
      .container > footer p {
        text-align: center;
      }
      .container {
        width: 820px;
      }
      h2 {
        margin: -12px 0px -5px 0px;
      }
      h4 {
        margin: 0px 0px -5px 0px; 
      }
    </style>
  </head>
  <body id="top">
    <%= render 'layouts/popup' %>
    <%= render 'layouts/about' %>

  <div class = "topbar"> 
    <%= render 'layouts/topbar' %>
  </div> <!--topbar-->

  <div class="container">
    <div class="content">
        <% if current_user -%>
          <div class="page-header headerarea">
          </div>
          <%= yield %>
          <%= render 'layouts/sidebar' %>
        <% else -%>
          <%= render 'layouts/index' %>
        <% end -%>
      </div>

      <footer>
        <p class="pull-right"><a href="#top">Top</a></p>
        <p>&copy; Twitmemo 2012</p>
      </footer>
    </div>
  </body>
</html>
