<!DOCTYPE html>
<html>
  <head>
    <title>Twitmemo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <style type="text/css">
      .container {
        width: 820px;
      }
      h1 a:hover {
        color:#08C;text-decoration:none; 
      }
      h2 {
        margin: -12px 0px -5px 0px;
      }
      h4 {
        margin: 0px 0px -5px 0px; 
      }
      .navi {list-style:none;}
      .navi li {float:left;}
      .opacity{
        filter: alpha(opacity=25);
        -moz-opacity:0.25;
        opacity:0.25;
      }
    </style>
  </head>

  <body id="top">
    <div class = "topbar"><%= render 'layouts/topbar' %></div>
    <div class="container">
      <div class="content">
        <noscript>
          <div div class="alert alert-error">
            <strong>このページはJavascriptをオンにしないと正常に動作しません！</strong>
          </div>
        </noscript>
        <% if current_user -%>
          <div class="headerarea"></div> 
          <%= yield %>
          <%= render 'layouts/sidebar' %>
          <%= render 'layouts/popup' %>
        <% else %>
          <%= yield %>
        <% end -%>
      </div>
      <div class="page-header" style="margin-top:0px"></div>
      <footer><a href="/terms">&copy; Twitmemo 2012</a></footer>
    </div>
  </body>
</html>
